{% extends 'base.html' %} {% block main %}
<div class="container">
    <div class='about'>
        <i>
            <h1>ABOUT</h1>
        </i>
        
        <hr>
        <i>
                <h3># INTRO</h3>
                
            </i>
            <hr>
        <p>这是一个收集院线上映电影的豆瓣历史评分的网站，源于突然有一天想了解一部电影豆瓣评分变化，搜索之后发现还没有这样的网站，
            也确实有人手动截图在记录关心的影片/剧集的评分变化，特别是在讨论关于水军/刷分等话题时，于是就自己写了一个。 
            由于是第一次做，没什么经验，目前还是比较简陋，更多东西会慢慢完善。<b>如果对你有所帮助，希望你可以分享给其他人</b>。
        </p>
        <p>
            </p>
        <ul>
            <li>目前只记录展示了正在上映的影片评分变化，记录的时间范围为上映至此影片不再排片为止</li>
            <li>起始评分为 0 分的电影是因为豆瓣在电影未上映前不开放评分，而有的影片进行了点映所以无法得到评分</li>
            <li>
                    仅收录正在上映影片
                </li>
            <li>
                数据来源于
                <a href="https://developers.douban.com/wiki/?title=guide">豆瓣 API</a>
            </li>

            <li>
                前端图表展示
                <a href="https://github.com/ecomfe/echarts">Echarts</a>
            </li>
            
        </ul>
        
        <i>
            <h3># CONTACT</h3>
            
        </i>
        <hr>
        <p>E-mail: cirillaye#outlook.com</p>
        <p>微博: <a href="https://weibo.com/p/1005052803412137">@Guling_Street</a></p>

    </div>
    
    <script>document.getElementById('nav-about').className = 'active'</script>
</div>
<footer>Copyright © 2018 Cirillaye. All rights reserved.</footer>
{% endblock main %}
