{% extends 'base.html' %} {% block main %}
<div class="container">
    <div class='about'>
        <i>
            <h1>ABOUT</h1>
        </i>

        <hr>
        <i>
            <h3># INTRO</h3>

        </i>
        <hr>
        <p>这是一个收集院线上映电影的豆瓣历史评分的网站，源于突然有一天想了解一部电影豆瓣评分变化，搜索之后发现还没有这样的网站， 也确实有人手动截图在记录关心的影片/剧集的评分变化，特别是在讨论关于水军/刷分等话题时，于是就自己写了一个。
            由于是第一次做，没什么经验，目前还是比较简陋，更多东西会慢慢完善。
            
        </p>
        <p>
                <b>如果对你有所帮助，希望你可以分享给其他人</b>。
        </p>
        <ul>
            <li>目前只记录展示了正在上映的影片评分变化，记录的时间范围为上映至此影片不再排片为止</li>
            <li>
                已下映影片可通过搜索查询（数据从2018年2月开始收集）
            </li>
            <li>
                数据来源于
                <a href="https://developers.douban.com/wiki/?title=guide">豆瓣 API</a>
            </li>

            <li>
                前端图表展示
                <a href="https://github.com/ecomfe/echarts">Echarts</a>
            </li>

        </ul>

        <i>
            <h3># CONTACT</h3>

        </i>
        <hr>
        <p>E-mail: cirillaye#outlook.com</p>
        <p>微博:
            <a href="https://weibo.com/p/1005052803412137">@Guling_Street</a>
        </p>
        <p>
            <a href="https://github.com/SungYK/DoubanHistory">Github</a>
        </p>
        <p>
                ↓↓↓ 反馈 ↓↓↓ （加载可能有些慢）
            </p>

    </div>
    <!-- 来必力City版安装代码 -->
    <div class="comment">
        
        <div id="lv-container" data-id="city" data-uid="MTAyMC8zMTY4Ny84MjUx">
            <script type="text/javascript">
                (function (d, s) {
                    var j, e = d.getElementsByTagName(s)[0];

                    if (typeof LivereTower === 'function') { return; }

                    j = d.createElement(s);
                    j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
                    j.async = true;

                    e.parentNode.insertBefore(j, e);
                })(document, 'script');
            </script>
            <noscript>为正常使用来必力评论功能请激活JavaScript</noscript>
        </div>
        <!-- City版安装代码已完成 -->
    </div>
    <script>document.getElementById('nav-about').className = 'active'</script>
</div>
<footer>Copyright © 2018 Cirillaye. All rights reserved.</footer>
{% endblock main %}